.parallax-effect1
{
	background-image : url("/mnt/nfs/homes/alygauti/Pictures/chat2.jpeg");
	
	background-attachment : fixed;
	background-position : center;
	background-repeat : no-repeat;
	background-size : cover;
	
}

div
{
	height : 1000px;
	font-size :36px;
	color:white;
	display : flex;

}
.parallax-effect2
{
        background-image : url("/mnt/nfs/homes/alygauti/Pictures/chien1.jpeg");
        min-height : 600px;
        background-attachment : fixed;
        background-position : center;
        background-repeat : no-repeat;
        background-size : cover;
}
body
{
	background-color : black;
}
p
{
	margin: auto;
}

